body {
    color: #262626;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    position: relative
}

a {
    text-decoration: none;
    color: #212121;
}

h1,
h2,
h3 {
    font-weight: 700;
}

.position-relative {
    position: relative
}

.app_btn.mobile {
    display: none;
    ;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 30px 16px 30px;
    background-color: transparent;
    z-index: 999;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 200px;
    height: 48px;
    background-image: url('../images/logo-gnb.svg');
    background-position: left center;
    background-repeat: no-repeat;
}

.mobile_app {
    display: none;
}

header .app_btn {
    display: none;
}

header.active {
    background-color: #0a6c42;
}

header.active .app_btn {
    display: block;
    margin: 0;
    justify-content: end;
}

header.active .app_btn a {
    font-size: 16px;
    padding: 14px 24px;
}

header.active .app_btn a:first-child {
    margin-right: 10px;
}

.mv {
    background: url('../images/img-keyvisual-bg.png') no-repeat center top;
    background-size: cover;
    height: calc(100vh - 153px);
    width: 100%;
    padding: 153px 0 0;
    position: relative;
}

.wrap {
    max-width: 964px;
    margin: 0 auto;
    padding: 0 30px
}

.mv_cont {
    width: 100%;
    height: calc(100vh - 153px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mv_cont .cont_txt {
    width: 48%;
    color: #fff;
    vertical-align: middle;

}

.mv_cont .cont_txt h3 {
    font-size: 60px;
    line-height: 1.3;
}

.mv_cont .cont_txt p {
    margin-top: 20px;
    line-height: 2;
    font-size: 24px;
}

.app_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}


.app_btn a {
    background-color: #000;
    border-radius: 10px;
    padding: 21px 35px;
    color: #fff;
    font-size: 21px;

}


.app_btn a img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 28px;
    height: 28px;
}

.mv_cont .cont_img {
    width: 55%;
    background: url('../images/img-keyvisual-phone.png') no-repeat right -50px top;
    background-size: 100%;
    height: 100%;
}

.icon-scroll {
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translatex(-50%);
}

/*서비스소개*/
.service_list.mobile_cont {
    display: none;
}

.service_list>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;

}

.service_list>li img {
    width: 340px;
    display: block;
}

.service_list>li:nth-child(2n) {}

.content_txt .cont_ttl {
    font-size: 54px;
    line-height: 1.4;
}

.content_txt .sub_ttl {
    color: #01a862;
    font-size: 30px;
    line-height: 1.5;
    margin: 30px 0;
}

.content_txt sub {
    font-size: 20px;
    line-height: 2;
}

.premium>li {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 1.5;
    padding-left: 100px;
    margin-bottom: 30px;
    vertical-align: middle;
}

.premium_a {
    background-image: url('../images/icon-premium-a.svg');
}

.premium_b {
    background-image: url('../images/icon-premium-b.svg');

}

.premium_c {
    background-image: url('../images/icon-premium-c.svg');

}

/* 친구 만들기 */
.bg_green {
    background-color: #edfaf2;
    margin-top: 250px;
    padding: 180px 0;

}

.section_ttl {
    text-align: center;
    font-size: 60px;
    line-height: 1.2;

}

.friend {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 90px;
}

.step_cont {
    position: relative;
    text-align: center;
    padding-top: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

.step_cont::before {
    background: url('../images/icon-stepbox.svg') no-repeat center;
    background-size: 100%;
    width: 67px;
    height: 67px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    color: #fff;
    font-size: 34px;
    line-height: 2;
}

.first::before {
    content: '1'
}

.second::before {
    content: '2'
}

.third::before {
    content: '3'
}

.fourth::before {
    content: '4'
}

.step_ttl {
    color: #01a862;
    font-size: 30px;
    margin: 20px 0
}

.first,
.second {
    min-height: 615px;
}

.third,
.fourth {
    min-height: 570px;
}

.first>img,
.second>img {
    width: 50%;
}

.third>img,
.fourth>img {
    width: 410px;
}

.step_cont p {
    line-height: 1.5;
    margin-bottom: 25px;
}

.step_cont p>span.important {
    color: #ff6100
}

/* 기능소개 */
.bg_grey {
    padding: 180px 0;
    background-color: #f9fafb;

}

.function {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}

.function_cont {
    width: 394px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin-top: 60px;
    padding: 50px 0 0 56px;
}

.fn_ttl {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
}

.fn_sub_ttl {
    font-size: 26px;
    margin: 20px 0;
}

.fn_sub_ttl.profile {
    color: #ba50de;
}

.fn_sub_ttl.golfjoin {
    color: #01a862;
}

.fn_sub_ttl.screen {
    color: #4b8de2;
}

.fn_sub_ttl.premium {
    color: #f06308;
}

.fn_list>li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    line-height: 2;
}

.fn_list>li::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    ;
}

/* Footer */
footer {
    background: #000;
    color: rgba(255, 255, 255, 0.7);
    padding: 80px 0;
    font-size: 18px;
}

footer li {
    line-height: 2;
}

footer li a {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
    display: inline-block;
}

footer li a::after {
    content: '|';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

footer li a:last-child::after {
    display: none;
}

footer li a:hover {
    text-decoration: underline;
}

footer .copyRight {
    color: rgba(255, 255, 255, 0.34);
    margin-top: 30px;

}




/* 약관 */
.sub_header.active {
    background-color: #fff;
}

.sub_header .logo {
    background: url('../images/logo-service.svg') no-repeat left center;
}

#wrap {
    background-color: #fafafa;
    padding: 120px 0;
}

.tabArea {
    background-color: #fff;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    padding: 50px 40px 0;
}

.tabArea .tab {
    display: flex;
    justify-content: space-between;
}

.tabArea .tab li a {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

/* 탭버튼 눌렀을시 글자 색상변경 */
.tabArea .tab li.on a {
    font-weight: bold;
    color: crimson;
}

/* 탭박스 영역 기본 옵션은 디스플레이 숨김 */
.tabArea .tabBox {
    margin-top: 35px;
    display: none;
}

/* 탭버튼이 눌러졌을시 관련된 탭박스 활성화 */
.tabArea .tabBox.on {
    display: block;
}

.tabArea .tabBox p {
    font-size: 14px;
    color: #555;
}

.tabArea .tabBox h3 {
    margin-bottom: 20px;
}

@media all and (min-width: 769px) and (max-width:1024px) {
    .wrap {
        max-width: 100%;
        padding: 0 30px;
    }


    .mv_cont .cont_txt {
        width: 55%;
    }

    .mv_cont .cont_txt h3 {
        font-size: 44px;
        line-height: 1.3;
    }

    .mv_cont .cont_txt p {
        font-size: 19px;
    }

    .app_btn a {
        font-size: 16px;
        padding: 14px 24px;
    }

    .mv_cont .cont_img {
        width: 45%;
    }

    .mv_cont .app_btn {
        justify-content: start;
    }

    .mv_cont .app_btn a {
        margin-right: 10px;
    }

    /* 서비스소개 */
    .service_list>li {
        justify-content: space-evenly;
        margin-top: 200px;
    }



    .service_list>li img {
        width: 260px;
    }

    .content_txt .cont_ttl {
        font-size: 40px;
    }

    .content_txt .sub_ttl {
        font-size: 26px;
    }

    .content_txt sub {
        font-size: 17px;
    }

    .bg_green {
        padding: 170px 0;
    }

    .section_ttl {
        font-size: 46px;
    }

    .premium>li {
        background-size: 50px;
        width: 400px;
        padding-left: 74px
    }

    .step_cont::before {
        font-size: 31px;
    }

    .step_ttl {
        font-size: 28px;
    }

    .first,
    .second {
        min-height: 568px
    }

    ˝ .first>img,
    .second>img {
        width: 176px;
    }

    .third,
    .fourth {
        min-height: 486px;
    }

    .third>img,
    .fourth>img {
        width: 324px;
    }

    .bg_grey {
        padding: 160px 0;
    }

    .function {
        margin-top: 70px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

}

@media all and (max-width:768px) {
    header {
        padding: 0 20px;
    }

    header .logo {
        width: 126px;
        background-size: 100%;
    }

    .wrap {
        max-width: 100%;
        padding: 0 20px;
    }

    .mobile_app {
        display: none;
    }

    header.active .app_btn,
    .app_btn {
        display: none;
    }

    header.active .mobile_app,
    .mv_cont .mobile_app {
        display: block;
    }

    .mobile_app a {
        padding: 8px 15px;
        color: #fff;
        border-radius: 10px;
        height: 100%;
        background: #000;
        text-align: center;
        display: block;
        font-size: 14px;
        ;

    }

    /* main */
    .mv {
        background-size: cover;
        height: calc(100vh - 50px);
        padding: 50px 0 0 0;
    }

    .mv_cont {
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 50px;
        position: relative;
    }

    .mv_cont .cont_txt {
        width: 100%;
    }

    .mv_cont .cont_txt h3 {
        font-size: 28px;
    }

    .mv_cont .cont_txt p {
        font-size: 16px;
        margin-top: 10px;
    }

    .mv_cont .mobile_app {
        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
    }

    .mv_cont .mobile_app a {
        padding: 16px;
    }

    .mv_cont .cont_img {
        width: 100%;
    }

    .service_list.pc_cont {
        display: none;
    }

    .service_list.mobile_cont {
        display: block;
    }

    .service_list>li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 100px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .service_list>li img {
        width: 260px;
    }

    .content_txt {
        margin-bottom: 30px;
    }

    .content_txt .cont_ttl {
        font-size: 26px;
        line-height: 1.3;
    }

    .content_txt .sub_ttl {
        font-size: 21px;
        line-height: 1.3;
        margin: 15px 0;
    }

    .content_txt sub {
        font-size: 15px;
        line-height: 2;
    }

    .premium>li {
        background-size: 50px;
        padding-left: 0;
        padding-top: 60px;
        background-position: left top;
    }

    .bg_green {
        margin-top: 110px;
        padding: 100px 0 20px;
    }

    .section_ttl {
        font-size: 28px;
    }

    .friend {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .friend:last-child {
        margin-top: 0;
    }

    .step_cont {
        width: 100%;
        padding-top: 60px;
        justify-content: flex-start;
        margin-bottom: 80px;
        ;
    }

    .step_cont::before {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    .step_ttl {
        font-size: 26px;
    }

    .step_cont p {
        font-size: 14px;
        ;
    }

    .first,
    .second,
    .third,
    .fourth {
        min-height: 0;
    }

    .third>img,
    .fourth>img {
        width: 100%;
    }

    .bg_grey {
        padding: 100px 0;
    }

    .function {
        margin-top: 0;
    }

    .function_cont {
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .function_cont>img {
        width: 90px;
    }

    .fn_ttl {
        margin-top: 30px;
        font-size: 26px;
    }

    .fn_sub_ttl {
        font-size: 21px;
        margin: 15px 0;
    }

    .fn_list>li {
        font-size: 16px;
        line-height: 1.3;
        padding-left: 15px;
        margin-top: 5px;
    }

    .fn_list>li::before {
        top: 10px;
    }

    footer {
        padding: 70px 0;
        font-size: 15px;
    }

    footer li:last-child {
        margin-top: 40px;
    }

    footer a {
        display: block !important;
    }

    footer a::after {
        display: none !important;
    }

    .copyRight {
        font-size: 14px;
    }
}